*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

:root {
    --bg-color: rgba(45, 45, 45, 1);
    --btn-color: rgba(45, 45, 45, 0.5)
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
}

.quiz-container {
    width: 700px;
    max-width: 80%;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}


#question {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.btn-layout {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 15px 0;
}

.btn {
    background-color: var(--btn-color);
    border: 3px solid var(--btn-color);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.3rem;
    outline: none;
}

.btn:hover {
    border-color: black;
}

#start-btn, #next-btn, #restart-btn, #save-score-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 10px 10px 0 10px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}



#score-timer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid black;
}

.score, .timer {
    padding: 10px 10px;
    font-size: 1.5rem;
}

#save-score-container {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#save-score-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.save-score-label {
    margin: 10px;
}

#save-score-text {
    width: 40%;
    border: 2px solid;
    text-align: center;
}

#save-score-text:hover {
    border: 3px solid rgba(30, 30, 30, 0.5);
    border-radius: 5px;
}

#save-score-text:focus {
    background-color: rgba(30, 30, 30, 0.5);
    color: white;
}

.hide {
    display: none !important; 
}

@media screen and (max-width: 768px) {
    .btn-layout {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #score-timer-container {
        flex-direction: column;
    }
}